header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem 0.75rem;
    padding-top: 2rem;
    margin: 1rem 1rem 0rem 1rem;
}

header > div {
    display: flex;
    gap: 1rem 0.75rem;
}

.categories-links {
    display: none;
}

.search {
    display: flex;
    gap: 0.3em;
    border: solid 0.0625rem rgb(var(--color) / var(--border-alpha));
    background-color: rgb(var(--filled));
}

.search,
.search input {
    font-family: inherit;
    font-size: 1rem;
    line-height: 1.5;
    --line-height: 1.5rem;
    border-radius: 0.25rem;
    color: rgb(var(--contrast-filled));
    --active-bg: var(--body-bg);
}

.search input {
    display: block;
    border: none;
    padding: 0.75rem 1rem;
    background: 0 0;
    box-shadow: none;
    outline: none;
}

.search:has(input:focus) {
    outline: 0.125rem solid rgb(var(--accent));
}

@media screen and (min-width: 600px) {
    header {
        flex-direction: row;
        align-items: center;
    }

    header > div {
        flex: 1;
    }

    .search {
        flex: 1;
    }
}

@media screen and (min-width: 1290px) {
    .nav-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .categories-links {
        display: flex;
        justify-content: center;
    }

    .categories-links ul li {
        display: inline-block;
        margin: 2px;
        padding: 0.5rem 1rem;
        background-color: rgb(var(--filled));
        border-radius: 1.5rem;
        border: 1px solid black;
        transition: box-shadow 0.3s;
    }

    .categories-links ul li:hover {
        box-shadow: 2px 2px 0px 0px rgba(255, 255, 255);
    }

    header {
        padding: 1rem max((100% - 71.25rem)/2, 4rem);
    }

    header > div {
        flex: 1;
    }

    .search {
        flex: 1;
    }

    .mobile-nav {
        display: none;
    }
}
